<% if (title) { %>
    <h1>
        <%= title %>
    </h1>
    <% } else { res.redirect('/') } %>

        <%- messages() %>
            <% if (errors) { %>
                <ul class="notice">
                    <% errors.array().forEach(error=> { %>
                        <li>
                            <%= error.msg %>
                        </li>
                        <% }) %>
                </ul>
                <% } %>
                    <div class="login-form-container">
                        <form action="/account/login" method="post">
                            <fieldset>
                                <legend>Account Details</legend>
                                <label for="account_email" class="required">Email</label><br>
                                <input type="email" name="account_email" id="account_email" required
                                    placeholder="someone@mail.com" autofocus value="<%= locals.account_email %>"><br>
                                <label for="account_password" class="required">Password</label><br>
                                <input type="password" name="account_password" id="account_password"
                                    pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$" required>
                                <p id="requirements">Passwords must be at least 12 characters and contain 1 uppercase
                                    letter, 1
                                    number,
                                    and 1 special
                                    character.</p>
                                <span id="showPswBtn">Show Password</span>
                                <input type="submit" value="Login">
                            </fieldset>
                        </form>
                        <p>No account? <a href="/account/register">Sign-up here!</a></p>
                    </div>
                    <% script=`<script src="/js/script.js"></script>` %>