/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}
#wrapper {
  max-width: 100%;
}
:root {
  /* fonts */
  --font-body: Arial, Helvetica, sans-serif;
  --font-headline: "Roboto", sans-serif;
  
  /* colors */
  --primary-color: #ccc5b9;
  --secondary-color: #215b8a;
  --highlight-color: #EB5E28;
  --dark-grey: #303030;
  
  /* sizes */
  --font-base: 18px;
  --small-font: .8em;
  --large-font: 1.2em;
}
body {
  font-family: var(--font-body);
  margin: 0;
}
#wrapper {
  margin: 0;
}
main {
  display: flex;
  flex-direction: column;
}
header, main, footer {
  margin: 10px 5px;
}
h1, h2 {
  font-family: var(--font-headline);
  font-weight: 500;
  font-size: x-large;
}
header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
header a {
  text-decoration: none;
  color: var(--dark-grey)
}
.site-name {
  font-family: var(--font-headline);
  font-size: 1.5em;
}
#tools {
  font-size: .9em;
}
nav {
  width: 100%;
}
nav ul {
  display:flex;
  justify-content: space-around;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: var(--secondary-color);
}
nav li {
  display: inline-block;
  text-align: center;
  padding: 1em .5em;
  color: white;
  transition: 0.3s;
}
nav li:hover {
  background-color: var(--highlight-color);
}
section {
  margin-top: 30px;
}
.banner {
  max-width: 100%;
  position: relative;
  margin-left: 5px;
  text-align: center;
}
.banner-info {
  color: var(--highlight-color);
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.781);
}
.banner-info h2 {
  font-size: large;
}
.banner p {
  margin: 0;
  padding: 0;
}
.banner button {
  background-color: #ea845c;
  border: 2px solid var(--dark-grey);
  padding: 7px;
}
.banner img {
  width: 100%;
  max-width: 500px;
  height: auto;
  display: block;
}
.reviews ul li {
  margin: 10px 0 10px 0;
}
.upgrades-container {
  display: grid;
  max-width: 100%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
}
.upgrades-container div {
  position: relative;
  display: flex;
  justify-content: center;
}
.upgrades-container div div img {
  padding-top: 10px;
}
.image-wrapper {
  background-color: var(--secondary-color);
  border: solid 2px var(--dark-grey);
  width: 100%;
  height: 75%;
}
.upgrades-container div a {
  position: absolute;
  bottom: 0;
  text-align: center;
  color: var(--highlight-color);
}

/* media queries */
@media (min-width: 500px) {
  body {
    background-image: url("../images/site/small_check.jpg");
    background-size: cover;
  }
  #wrapper {
    background-color: white;
    max-width: 80%;
    border: 3px solid var(--highlight-color);
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    margin: 15px auto;
  }
  .banner {
    margin-left: 20px;
    align-self: center;
  }
  .banner-info p {
    padding: 4px;
  }
  .banner-info button {
    margin: 5px;
  }
}
@media (min-width: 770px) {
  .review-upgrades {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-self: center;
  }
  .reviews, .upgrades {
    flex: 1;
  }
  .upgrades {
    order: 1;
  }
  .reviews {
    order: 2;
  }
}
@media (min-width: 875px){
  header, footer {
    margin: 20px auto;
    max-width: 80%;
  }
  h1 {
    text-align: center;
  }
}
@media (min-width: 1100px) {
  #wrapper {
    max-width: 900px;
  }
}