<% if (title) { %>
    <h1>
        <%= title %>
    </h1>
    <% } else { res.redirect('/') } %>

        <%- messages() %>
            <div id="link-box">
                <a href="/inv/add-classification">Add new classification</a><br>
                <a href="/inv/add-inventory">Add new inventory</a>
                <h2>Manage Inventory</h2>
                <%- classificationSelect %>
                    <table id="inventoryDisplay"></table>
                    <noscript>JavaScript must be enabled to use this page.</noscript>
            </div>
            <script src="../../js/inventory.js"></script>