<% if (title) { %>
    <h1>
        <%= title %>
    </h1>
    <% } else { res.redirect('/') } %>
        <img id="error-img" src="/images/site/wrongway.webp" alt="Wrong Way image">
        <div class="error-message">
            <%- message %>
        </div>